AWS_S3_CUSTOM_ENDPOINT_URL=http://localhost:4588
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_SESSION_TOKEN=

# macOS signing and notarization
APPLE_ID=
APPLE_APP_SPECIFIC_PASSWORD=
APPLE_TEAM_ID=
APPLE_CERTIFICATE_P12=
APPLE_CERTIFICATE_PASSWORD=
KEYCHAIN_PASSWORD=

# Windows code signing
WIN_CSC_LINK=
WIN_CSC_KEY_PASSWORD=
